@{
    ViewData["Title"] = "ماهان شاپ | پرداخت با شکست";
}
<div style="text-align: center;margin: 44px auto;padding: 10px;background-color: #FFFFFF;width: 350px;height: 350px;display: grid;font-weight: bold;border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h2 style="color:red;margin: 30px;">پرداخت با شکست مواجه شد ❎</h2>
    <a href="/">بازگشت</a>
</div>