@page
@model MyEshop_Phone.Pages.Admin.Products.AddModel
@{
    ViewBag.Title = "محصول جدید";
}
<style>
    label {
        font-family: system-ui;
        font-size: medium;
    }
</style>
<form method="post" enctype="multipart/form-data">
    <select asp-for="AddProduct.ProductGroupsId" class="form-control" style="margin-top:20px">
        @foreach (var item in Model.AddProduct.ShowGroups)
        {
            <option value="@item.Id">
                @item.GroupTitle
            </option>
        }
    </select><br />
    <label>نام</label>
    <span asp-validation-for="AddProduct.Title" class="text-danger"></span>
    <input asp-for="AddProduct.Title" class="form-control" />
    <label>برند</label>
    <span asp-validation-for="AddProduct.ShortDescription" class="text-danger"></span>
    <input asp-for="AddProduct.ShortDescription" class="form-control" />
    <label>متن</label>
    <span asp-validation-for="AddProduct.Text" class="text-danger"></span>
    <textarea asp-for="AddProduct.Text" id="Text" class="form-control"></textarea>
    <label>قیمت</label>
    <span asp-validation-for="AddProduct.Price" class="text-danger"></span>
    <input asp-for="AddProduct.Price" placeholder="قیمت را به تومان وارد کنید" class="form-control" />
    <p>قیمت را به تومان وارد کنید</p>
    <label>تعداد محصول</label>
    <span asp-validation-for="AddProduct.Count" class="text-danger"></span>
    <input asp-for="AddProduct.Count" class="form-control" />
    <label>عکس</label>
    <span asp-validation-for="AddProduct.imgUp" class="text-danger"></span>
    <input asp-for="AddProduct.imgUp" />
    <input type="submit" value="ثبت" class="btn btn-success" style="margin: 10px;padding: 10px;width: 50px;font-family: system-ui;font-size: medium;" />
</form>

@section Scripts {
    <script src="~/AdminPanel/ckeditor/ckeditor.js"></script>
    <script src="~/AdminPanel/ckeditor/adapters/jquery.js"></script>
    <script>
        CKEDITOR.replace('Text');
    </script>
}