@using MyEshop_Phone.Domain.Model
@model IEnumerable<_ProductsColor>
@foreach (var item in Model)
{
    <label class="pd-color" aria-label="@item.color.Name">
        <input type="radio" name="color" value="@item.color.Name" />
        <span class="pd-color__dot"
              style="background:@item.color.Name">
        </span>
    </label>

}