@page
@model MyEshop_Phone.Pages.Admin.Products_Tags.AddModel
@{
    ViewBag.Title = "تگ جدید";
}
<style>
    label {
        font-family: system-ui;
        font-size: medium;
    }
</style>
<form method="post">
    <label>انتخاب محصول</label>
    <select asp-for="AddTags.ProductsId" asp-items="@(new SelectList(Model.AddTags.products,"Id","Title"))" class="form-control">
    </select>
    <label>تگ</label>
    <span asp-validation-for="AddTags.Tag" class="text-danger"></span>
    <input asp-for="AddTags.Tag" class="form-control" />
    <input type="submit" value="ثبت" class="btn btn-success" />
</form>