@page
@model MyEshop_Phone.Pages.Admin.Features.IndexModel
@{
    ViewBag.Title = "عنوان ویژگی ها";
}
<style>
    label {
        font-family: system-ui;
        font-size: medium;
    }
</style>
<br />
<p>
    <a asp-page="Add" class="btn btn-success">عنوان ویژگی جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>عنوان ویژگی</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllFeatures)
        {
            <tr>
                <td>@item.FeaturesTitle</td>
                <td>
                    <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>