@page
@model MyEshop_Phone.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">خطا رخ داده است</h1>

<p class="text-danger">
    @Model.ErrorMessage
</p>

<p>
    در حال حاضر امکان پردازش درخواست شما وجود ندارد.
</p>