@page
@model MyEshop_Phone.Pages.Admin.SubMenuGroups.IndexModel
@{
    ViewBag.Title = "زیرمنو ها";
}
<p style="margin-top:10px">
    <a asp-page="Add" class="btn btn-success">زیر منوی جدید</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>عنوان گروه</th>
            <th>عنوان زیر منو</th>
            <th>دستورات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.submenuGroups)
        {
            <tr>
                <td>@item.groups.GroupTitle</td>
                <td>@item.Title</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-warning">ویرایش</a> |
                    <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>